<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/beauter.min.css">
            <script src="js/fontawesome-all.min.js"></script>

		</head>
		<body>
			<ul class="topnav -fixed" id="myTopnav2">

  				<li><a href="index" class="brand"><i class="fas fa-home"></i></a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
                <!--<li><a href="code">Code</a></li>-->
                <li><a href="files/MichaelWynkoop.pdf">Resumé</a></li>
                <!--<li><a href="links">Links</a></li>-->
  				<li class="-icon">
    					<a href="javascript:void(0);" onclick="topnav('myTopnav2')"><i class="fas fa-bars"></i></a>
  				</li>

			</ul><br/>

			{{ content }}

	       <div class="jumbo _dark footer">
            <div class="container">
                <div class="_floatLeft">
                    © 2018 Michael Wynkoop.
				</div>
                <div class="_floatRight">
                    <a href="mailto:wynk182@gmail.com" style="text-decoration: none;">Email</a> |
				    <a href="https://github.com/wynk182" target="_blank" style="text-decoration:none;">Github</a> |
                    <a href="https://www.linkedin.com/in/michael-wynkoop-65a93281" style="text-decoration:none;">LinkedIn</a>   
                </div>
            </div>	 
               
          </div>

		</body>
        <script src="js/beauter.min.js"></script>
        <style>
            .footer {
				padding:1em;
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
				font-size: 12px;
            }
        </style>

	</html>
