<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/portfolio/css/beauter.min.css">
            <script src="/portfolio/js/fontawesome-all.min.js"></script>

		</head>
		<body>
			<ul class="topnav" id="myTopnav2">
  				<li></li>
  				<li><a href="#" class="active"><i class="fas fa-home"></i></a></li>
                <li><a href="#">Code <i class="fas fa-code"></i></a></li>

                <li><a href="/about">About <i class="fas fa-user-tie"></i></a></li>
                <li><a href="#">CV <i class="fas fa-file-pdf"></i></a></li>
                <li><a href="#">Links <i class="fas fa-link"></i></a></li>
  				<li class="-icon">
    					<a href="javascript:void(0);" onclick="topnav('myTopnav2')">☰</a>
  				</li>

			</ul>	
		
			{{ content }}		
			
		
	       <div class="jumbo _dark footer">
               <a href="mailto:wynk182@gmail.com" style="text-decoration: none;">Email</a> |
               <a href="https://github.com/wynk182" style="text-decoration: none;">Github</a>
            </div>
	        		
				
		
		</body>
        <script src="/portfolio/js/beauter.min.js"></script>
        <style>
            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                
            }
        </style>

	</html>
